.imageAttachment {
    display: inline-block;
    position: relative;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.imageAttachment .actions-bar {
    margin: 0;
}
.imageAttachment .no-image {
    color: #777;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
    vertical-align: middle;
    display: block;
    text-align: center;
}

.imageAttachment.with-image .no-image {
    display: none;
}

.imageAttachment .preview {
    text-align: center;
}
.imageAttachment img {
    display: none;

}

.imageAttachment.with-image img {
    display: inline-block;
}

.imageAttachment .fileinput-button {
    position: relative;
    overflow: hidden;
    margin-left: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.imageAttachment .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: translate(-300px, 0) scale(4);
    direction: ltr;
    cursor: pointer;
}

/* drag & drop hint above gallery */
.imageAttachment .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageAttachment .overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #efefef;
    opacity: .5;
    width: 100%;
    height: 100%;
}

.imageAttachment.over .overlay {
    display: block;
}

.imageAttachment .drop-hint {
    background-color: #efefef;
    border: 2px #777 dashed;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 50%;
    margin: -70px 0 0 -25%;
    text-align: center;
}

.imageAttachment .drop-hint-info {
    color: #777;
    font-weight: bold;
    font-size: 20px;
    margin-top: 35px;
    vertical-align: middle;
    display: inline-block;
}

/* upload progress */

.imageAttachment .progress-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageAttachment .progress-overlay .progress-modal {
    background-color: #efefef;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    width: 100%;
}
.imageAttachment .progress-overlay .progress-modal .info{
    padding: 10px;
}